.container {
    display: flex;
    padding: 20px;
    background-color: grey;

    .row {
        display: flex;
        flex-direction: row;
        padding: 10px 5px;
        justify-content: flex-end;

        .input {
            margin-left: 10px;
        }
    }
}
